{% extends "base.html" %}

{% block content %}
    {{ super() }}
    <link rel="stylesheet" href="/static/styles/style.css">

<style>
    .topPage {
    position: fixed;
    right: 10px;
    bottom: 30px;
   }


   #TextAbout {
    margin-left: 100px;
    margin-right: 100px;
    background-color: rgba(220, 255, 255, 0.5);
    padding: 10px;
    border-block: 10px;
    border-radius: 10px;
    word-break: break-word;
   }

   .mail_sup {
    color: rgb(0, 0, 255);
    text-decoration: underline;
    cursor: default;
   }

   .mail_sup:hover {
    color: rgb(0, 0, 150);
    text-decoration: underline;
    cursor: pointer;
   }

</style>

    <div class="text-align: center">

    <table>
        <tr>
            <td id="col00" colspan="3" height="40"><a title="переход на главную страницу" href={{ url_for("main_page") }}>Главная</a> \
            <a href={{ url_for("about_app_page") }}> {{ title }}</a></td>
        </tr>
        <tr>
            <td id="col0" colspan="3" height="60">Описание программы &laquo;Классификатор&raquo;</td>
        </tr>
        <tr>
            <td id="col_App" colspan="3" >
                <ul style="font-size: 20px; line-height: 1.3;">
                    <li><a href="#Описание приложения">Описание приложения</a></li>
                    <li><a href="#Лицензионное соглашение">Лицензионное соглашения</a></li>
                    <li><a href="#Системные требования">Системные требования</a></li>
                    <li><a href="#Ранние версии">Ранние версии</a></li>
                </ul>

                <p id="Описание приложения" style="visibility: hidden; margin: 10px;">
                <p id="Описание приложения" style="font-size: 22px; text-align: center; background: rgba(67, 255, 0, 0.5); border-radius: 10px 10px 10px 10px; padding: 10px; margin-bottom: 22px; margin-top: 30px; font-weight: bold;">Описание приложения<br>
                    <div id="TextAbout" style="font-size: 18px; text-align: justify; line-height: 1.3;">
                        Программа предназначена для классификации месторождений по действующим нормативным документам.
                        Сбор основной геолого-промысловой информации по месторождению (сведения о недропользователе,
                        геологические данные, данные по запасам УВС с указанием величин и их&nbsp;категорийности по принятым документам),
                        учет наличия закачки на месторождении/залежи, данные по геологической и гидродинамической моделям,
                        а также данные по действующим системам сбора и подготовки продукции скважин. Сохранение данных
                        в формате MS Excel, с&nbsp;возможностью добавления дополнительного листа с информацией
                        (в случае многопластового месторождения). Дополнительная возможность - создание шаблона файла протокола ЦКР в зависимости
                        от классификации месторождения с характеристикой УВ-сырья и основных технологических показателей.
                    </div>

                <p id="Лицензионное соглашение" style="visibility: hidden; margin: 10px; scroll-behavior: smooth;"</p>
                <p id="Лицензионное соглашение" style="font-size: 22px; text-align: center; background: rgba(67, 255, 0, 0.5); border-radius: 10px 10px 10px 10px; padding: 10px; margin-bottom: 22px; margin-top: 30px; font-weight: bold;">Лицензионное соглашение<br>
                    <div id="TextAbout" style="font-size: 18px; text-align: justify; line-height: 1.3;">
                        Программа является лицензированным программным продуктом.
                        Внимательно ознакомьтесь с условиями лицензионного соглашения перед началом работы с программным обеспечением, на которое оно распространяется.<br />
                        Установка, так же как и использование программы «Классификатор», свидетельствует о вашем согласии с условиями данного лицензионного соглашения.
                        Если вы не согласны с условиями, предложенными данной лицензией, то должны удалить файлы программы «Классификатор» со своих устройств хранения информации и
                        отказаться от дальнейшего использования этого программного продукта.<br />
                        «Классификатор» (далее «ПО») является бесплатным («Freeware») и распространяется по принципу «как есть» («as is»).


                        <ol>
                            <li>Использование
                                <ol>
                                    <li>Вы имеете право устанавливать и использовать «Классификатор» как на домашних компьютерах,
                                    так и на компьютерах в организациях любой формы собственности, в том числе в государственных и муниципальных учреждениях.</li>
                                    <li>Вы можете бесплатно распространять данное ПО в виде оригинального дистрибутива.</li>
                                </ol>
                            </li><br>

                            <li>Ограничения
                                <ol>
                                     <li>Вы не вправе декомпилировать, дизассемблировать, модифицировать, дополнять, разбирать, переводить, адаптировать,
                                     реорганизовывать, исправлять ошибки или производить какие-либо изменения в программу и/или её исполняемые компоненты.</li>
                                     <li>Вы не имеете права распространять данное ПО за материальное вознаграждение, если только не имеете соответствующего разрешения от&nbsp;правообладателя.</li>
                                     <li>Вы не можете распространять не оригинальный дистрибутив, если не имеете соответствующего разрешения правообладателя.</li>
                                     <li>Запрещается удаление копирайта или другой информации об авторах и правообладателях ПО.</li>
                                     <li>Запрещается сдавать ПО в аренду или прокат.</li>
                                     <li>За нарушение интеллектуальных прав на ПО нарушитель несёт гражданскую, административную или уголовную ответственность
                                     в&nbsp;соответствии с действующим законодательством.</li>
                                </ol>
                            </li><br>

                            <li>Ограничение ответственности
                                <ol>
                                     <li>Вы соглашаетесь с тем, что данное ПО может содержать ошибки, а, следовательно, и с тем,
                                     что сами должны заботиться о создании резервных копий своих файлов.</li>
                                     <li>Правообладатель не даёт никаких гарантий работоспособности ПО на конкретном оборудовании.</li>
                                     <li>Правообладатель не даёт никаких гарантий работоспособности ПО, если Вы не обновляете его до актуальных версий.</li>
                                     <li>В виду того, что программа распространяется по принципу «как есть» («as is»), Вы должны осознавать, что используете данное ПО
                                     на&nbsp;свой страх и риск. Правообладатель не несёт ответственности за какие-либо убытки и/или ущерб (в том числе убытки,
                                     в связи с&nbsp;недополученной коммерческой прибылью, прерыванием деятельности, утратой информации или иной имущественный ущерб),
                                     возникающий в связи с использованием или невозможностью использования данного ПО.</li>
                                </ol>
                            </li><br>

                            <li>Объекты авторского права
                                <ol>
                                     <li>Всеми авторскими правами на «Классификатор месторождений» эксклюзивно владеет автор программы – Есаулов Павел.</li>
                                     <li>Сторонние продукты и компоненты включены в состав дистрибутива с соответствующего согласия их правообладателей (в том числе согласием считается и соблюдение лицензионного соглашения).</li>
                                     <li>Настоящее Лицензионное соглашение регулируется в соответствии с законодательством Российской Федерации и международными нормами авторского права.</li>
                                </ol>
                            </li><br>

                            <li>Техническая поддержка
                                <ol>
                                     <li>Техническая поддержка оказывается при условии, что у Вас установлена актуальная версия оригинальной сборки программы.</li>
                                     <li>Техническую поддержку можно получить, отправив письмо на e-mail: <a href="mailto:ogfc@mail.ru?subject=Вопрос по Классификатору 5.4"; class="mail_sup">ogfc@mail.ru</a> или перейти по ссылке на страницу <a href={{ url_for("about_page") }} class="mail_sup">«О&nbsp;сайте»</a> и отсканировать QR-код.</li>
                                </ol>
                        </ol>
                    </div>

                <p id="Системные требования" style="visibility: hidden; margin: 10px;"</p>
                <p id="Системные требования" style="font-size: 22px; text-align: center; background: rgba(67, 255, 0, 0.5); border-radius: 10px 10px 10px 10px; padding: 10px; margin-top: 30px; font-weight: bold;">Системные требования<br>
                    <div id="TextAbout" style="font-size: 18px; text-align: justify; line-height: 1.3;">
                        <center>Для стабильной работы приложения необходимы следующие системные требования:</center><br>

                        <u>Минимальные системные требования:</u>
                        <ul>
                            <li>операционная система Windows XP (32-bit);</li>
                            <li>установленный Microsoft Office 2003;</li>
                            <li>установленный Microsoft .NET Framework 3.5;</li>
                            <li>процессор с тактовой частотой 1,2 ГГц;</li>
                            <li>объем свободного места на жестком диске - не менее 50 МБ;</li>
                            <li>объем оперативной памяти - 2,0 ГБ.</li>
                        </ul>

                        <u>Рекомендуемые системные требования:</u>
                        <ul>
                            <li>операционная система Windows 7 (64-bit) или выше;</li>
                            <li>установленный Microsoft Office 2010 или выше;</li>
                            <li>установленный Microsoft .NET Framework 4.0 или выше;</li>
                            <li>процессор с тактовой частотой 2 ГГц;</li>
                            <li>объем свободного места на жестком диске - не менее 50 МБ;</li>
                            <li>объем оперативной памяти - 4,0 ГБ.</li>
                        </ul>
                    </div>

                <p id="Ранние версии" style="font-size: 22px; text-align: center; background: rgba(67, 255, 0, 0.5); border-radius: 10px 10px 10px 10px; padding: 10px; margin-bottom: 22px; font-weight: bold;">Ранние версии<br>
                <div id="TextAbout" style="font-size: 18px; text-align: justify; line-height: 1.3;">
                    Последнюю версию приложения можно скачать по ссылке ниже:<br>
                    <center><a href="/static/files/Классификатор_5.4.1.zip" download="Классификатор_5.4.1.zip" ;
                               class="mail_sup">Классификатор 5.4.1</a> (21.09.2023)
                    </center>
                 <br>
                    Здесь будет дополняться список ранних версий приложения...
                </div>
{#                <div style="font-size: 18px; text-align: justify; line-height: 1.3;"> #}
{#                    список ранних версий приложения...#}
{#                </div>#}

            </td>
        </tr>
    </table>


    <!--<a href="#" title="Вернуться к началу страницы" class="topPage"><img src="/static/images/top_page.png" alt="top" width="36" ; height="36" ;/></a> -->


    <div class="linkToMain">
        <a title="На главную страницу" href={{ url_for("main_page") }}><img src="/static/images/main_64.png" alt="home" width="36" ; height="36" ;/></a>
    </div></div>
{% endblock %}