{% extends "base.html" %}

{% block content %}
    {{ super() }}

    <div class="text-align: center">
    <table>
        <tr>
            <td id="col00" colspan="3" height="40"><a title="переход на главную страницу" href={{ url_for("main_page") }}>Главная</a> \
            <a href={{ url_for("about_app_page") }}> {{ title }}</a></td>
        </tr>
        <tr>
            <td id="col0" colspan="3" height="60">Содержимое страницы &laquo;{{ title }}&raquo;</td>
        </tr>
        <tr>
            <td id="col1" colspan="3" height="60">Описание приложение и внешний вид главного окна</td>
        </tr>
    </table>

    <hr />
    <br><br>

    <div class="linkToMain">
        <a title="Нажмите, чтобы перейти" href={{ url_for("main_page") }}>Вернуться на главную страницу</a></div>
    </div>
{% endblock %}