<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ошибка сервера!</title>
</head>
<style>
    h1 {
        text-align: center;
        padding-top: 20px;
    }
    p {
        size:16px;
        padding-top: 20px;
        letter-spacing:1px;
        text-align: center;
        font-weight: bold;
        color:#940094;
        text-transform:uppercase;
    }
</style>
<body>
    <h1>Проблема с загрузкой страницы!</h1>
    <p><img src="https://s8d4.turboimg.net/t1/95552197_500.jpg"/></p>

    <p>Идет восстановление работоспособности сервера</p>
</body>
</html>