{% extends "base.html" %}


{% block content %}
    {{ super() }}

<style>
    .topPage {
    position: fixed;
    right: 10px;
    bottom: 30px;
   }
</style>

    <div class="text-align: center">
    <table>
        <tr>
            <td id="col00" colspan="3" height="40"><a href={{ url_for("main_page") }}>{{ title }}</a></td>
        </tr>

        <tr>
            <td id="col0" colspan="3" height="60">Программа для классификации месторождений нефти и газа</td>
        </tr>

        <tr>
            <td id="col1">
                <div class="TextInColumn">Колонка 1-1</div><br>
                <div><a href={{ url_for("about_app_page") }}>О приложении</a></div>
            </td>

            <td id="col2">
                <div>Колонка 2-1</div><br>
                <div><a target="_blank" href="/classificator/images/404.jpg">Посмотреть картинку</a></div><br>
                <div><a href="/classificator/images/404.jpg" download="404.jpg">Скачать картинку</a></div><br>
                <div>Колонка 2-2</div>
            </td>


            <td id="col3">
                <div class="TextInColumn">Колонка 3-1</div><br>
                <div><a href={{ url_for("about_page") }}>О сайте</a></div>
            </td>
        </tr>
    </table>
    </div>

    <a href="#" title="Вернуться к началу страницы" class="topPage"><img src="/classificator/images/top_page.png" alt="top" width="36"; height="36";</a>

{% endblock %}