{% extends "base.html" %}


{% block content %}
    {{ super() }}

<style>
    .topPage {
        position: fixed;
        right: 10px;
        bottom: 30px;
   }

   .coll1_text {
        font-size: 20px;
   }

    .coll2_text {
        font-size: 18px;
   }

   .coll3_text {
        font-size: 20px;
   }
</style>

    <div class="text-align: center">
    <table>
        <tr>
            <td id="col00" colspan="3" height="40"><a href={{ url_for("main_page") }}>{{ title }}</a></td>
        </tr>

        <tr>
            <td id="col0" colspan="3" height="60">Программа для классификации месторождений нефти и газа</td>
        </tr>

        <tr>
            <td id="col1">
                <div><a href={{ url_for("about_app_page") }} class="coll1_text">О приложении</a></div>
            </td>

            <td id="col2">
                <div><a target="_blank" href="/classificator/images/404.jpg"; class="coll2_text">Посмотреть картинку</a></div><br>
                <div><img src="/classificator/images/Logo_App.png" alt="top" width="16"; height="16";/><a href="/classificator/files/Классификатор_5.4.1.zip" download="Классификатор_5.4.1.zip"; class="coll1_text"; style="margin-left: 8px;">Скачать приложение</a></div>
            </td>


            <td id="col3">
                <div><a href={{ url_for("about_page") }} class="coll3_text">О сайте</a></div>
            </td>
        </tr>
    </table>
    </div>

    <a href="#" title="Вернуться к началу страницы" class="topPage"><img src="/classificator/images/top_page.png" alt="top" width="36"; height="36";/></a>

{% endblock %}